<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <!-- Acta -->
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Acta</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="card" style="margin: 0 10px;">
                                <div class="card-header">
                                    <h6 class="card-title">Rebotejadors</h6>
                                </div>
                                <div class="card-body" style="padding-top: 0;">
                                    <table>
                                        <tr *ngFor="let rebotejador of rebotejadors?.reverse()">
                                            <td><h5><strong>{{rebotejador.nom}}</strong></h5></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card" style="margin: 20px 10px;">
                                <div class="card-header">
                                    <h6 class="card-title" style="display: inline;">Tirador</h6>
                                    <h5 class="card-title" style="display: inline;">
                                        <strong style="margin-left: 15px;">{{ participant?.nom }}</strong>
                                    </h5>
                                </div>
                                <div class="card-body" style="padding-top: 0">
                                    <h6 class="card-title" style="display: inline;">Jornada</h6>
                                    <mat-select class="select" [ngModel]="jornada" (selectionChange)="setJornada($event.value)">
                                        <mat-option *ngFor="let date of globalSt.jornades; let i = index" [value]="i + 1">
                                          {{i + 1}} ({{date}})
                                        </mat-option>
                                      </mat-select>
                                    <app-shot-sequence [edition]="true" [shotSequence]="serie?.sequencia"></app-shot-sequence>
                                    <button mat-raised-button class="btn btn-white pull-left"style="margin-top: 30px;" 
                                        (click)="previous()" [disabled]="isFirstTirador()">Anterior
                                    </button>
                                    <button mat-raised-button class="btn btn-info pull-right" style="margin-top: 30px;" 
                                        (click)="next()" [ngClass]="{'btn-success': isLastTirador()}">Següent
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Estadístiques -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Estadístiques <strong style="margin-left: 15px;">{{ participant?.nom }}</strong></h4>
                    </div>
                    <div class="card-body">
                        <div *ngIf="showStats()">
                            <app-shot-chart [series]="participant?.seriesTLL"></app-shot-chart>
                            <app-series-chart [participant]="participant"></app-series-chart>
                        </div>
                        <div *ngIf="participant && participant.seriesTLL.length == 0">
                            <span>Aquest participant no ha participat a cap jornada</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Pendents -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Participants</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-50"></div>
                            <div class="col-md-3 col-25">
                                <span class="pull-right"><strong>J{{jornada}}</strong></span>
                            </div>
                            <div class="col-md-3 col-25">
                                <span class="pull-right"><strong>T</strong></span>
                            </div>
                        </div>
                        <div class="row llista" *ngFor="let p of participants" (click)="setTirador(p)" [ngClass]="{'tirador': isCurrentTirador(p)}">
                            <div class="col-md-6 col-50 text-cut" style="padding-right: 0">{{p.nom}}</div>
                            <div class="col-md-3 col-25">
                                <span class="pull-right">{{ hasSerieTirada(p) ? p.getSerieTLL(jornada).anotats : '-' }}</span>
                            </div>
                            <div class="col-md-3 col-25">
                                <span class="pull-right">{{ p.getTirsLliuresAnotats() }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>