<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <!-- Acta -->
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Acta</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="card" style="margin: 0 10px;">
                                <div class="card-header">
                                    <h6 class="card-title">Rebotejadors</h6>
                                </div>
                                <div class="card-body" style="padding-top: 0;">
                                    <table>
                                        <tr *ngFor="let rebotejador of rebotejadors?.reverse()">
                                            <td><h5><strong>{{rebotejador.nom}}</strong></h5></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="card" style="margin: 20px 10px;">
                                <div class="card-header">
                                    <h6 class="card-title" style="display: inline;">Tirador</h6>
                                    <h5 class="card-title" style="display: inline;">
                                        <strong style="margin-left: 15px;">{{ participant?.nom }}</strong>
                                    </h5>
                                </div>
                                <div class="card-body">
                                    <app-shot-sequence [edition]="true" [shotSequence]="participant?.seriesTLL[jornada - 1].sequencia"></app-shot-sequence>
                                    <button mat-raised-button class="btn btn-info pull-right" style="margin-top: 30px;" (click)="nextTirador()">Següent</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Estadístiques -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Estadístiques <strong style="margin-left: 15px;">{{ participant?.nom }}</strong></h4>
                    </div>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>
            <!-- Pendents -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Pendents</h4>
                    </div>
                    <div class="card-body">
                        <table>
                            <tr *ngFor="let p of pendents">
                                <td>{{p.nom}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>