i.shot {
    font-size: 17px;
    margin-right: 5px;
    cursor: default;
}

i.shot.neutral {
    color: gray;
}

i.shot.missed {
    color: red;
}

i.shot.made {
    color: #17ca17;
}

i.shot.regular {
    color: orange;
}

i.shot.good {
    color: #ffe100;
}

/* SWITCH */
.switch-box {
    width: 75px;
    height: 25px;
    background-color: #26c6da40;
    border-radius: 20px;
    display: inline-block;
    margin-left: 10px;
}

.switch-ball {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    display: inline-block;
}

.switch-ball#missed.active {
    background-color: red;
}

.switch-ball#neutral.active {
    background-color: #26c6da;
}

.switch-ball#made.active {
    background-color: #17ca17;
}

h5.tir {
    display: inline-block;
    vertical-align: middle;
}