i.shot {
    font-size: 17px;
    margin-right: 5px;
    cursor: default;
}

i.shot.missed {
    color: red;
}

i.shot.made {
    color: #17ca17;
}

i.shot.regular {
    color: orange;
}

i.shot.good {
    color: #ffe100;
}