i.shot {
    font-size: 17px;
    margin-right: 5px;
    cursor: default;
}

i.shot.neutral {
    color: #c3c3c3;
}

i.shot.missed {
    color: red;
}

i.shot.made {
    color: #17ca17;
}

/* SWITCH */
.switch-box {
    width: 75px;
    height: 25px;
    background-color: #26c6da40;
    border-radius: 20px;
    display: inline-block;
}

.switch-box.missed {
    background-color: #da472640;
}

.switch-box.made {
    background-color: #26da4440;
}

.switch-ball {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    display: table-cell;
    text-align: center;
    cursor: pointer;
}

.switch-ball#missed {
    color: red;
    font-weight: bold;
}

.switch-ball#made {
    color: #279a27;
    font-weight: 400;
}

.switch-ball#missed.active {
    background-color: red;
}

.switch-ball#neutral.active {
    background-color: #26c6da;
}

.switch-ball#made.active {
    background-color: #17ca17;
}

span.azure {
    color: azure !important;
}

span.gray {
    color: #777777;
}