<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Llistat general</h4>
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-info">
                                    <th>
                                        Codi
                                    </th>
                                    <th>
                                        Nom
                                    </th>
                                    <th>
                                        Sexe
                                    </th>
                                    <th>
                                        Curs
                                    </th>
                                    <th *ngFor="let jornada of jornades; let i = index">
                                        {{i}}
                                    </th>
                                    <th>
                                        Total
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let participant of participants">
                                        <td>
                                            {{participant.codi}}
                                        </td>
                                        <td>
                                            {{participant.nom}}
                                        </td>
                                        <td>
                                            {{participant.sexe}}
                                        </td>
                                        <td>
                                            {{participant.curs}}
                                        </td>
                                        <td *ngFor="let jornada of jornades">
                                            {{participant.tirs_lliures && participant.tirs_lliures[jornada.nom] ? participant.tirs_lliures[jornada.nom] : "-"}}
                                        </td>
                                        <td class="text-info">
                                            {{ getFreeThrowsSum(participant) }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
