<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">Llistat general</h4>
                        <!-- <p class="card-category"> Here is a subtitle for this table</p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-info">
                                    <th>
                                        <span (click)="sortList('codi')" class="sort-field">Codi</span> 
                                        <app-sort-arrows [isDesc]="getCurrentSortType('codi')"></app-sort-arrows>
                                    </th>
                                    <th>
                                        <span (click)="sortList('nom')" class="sort-field">Nom</span>
                                        <app-sort-arrows [isDesc]="getCurrentSortType('nom')"></app-sort-arrows>
                                    </th>
                                    <th>
                                        <span (click)="sortList('sexe')" class="sort-field">Sexe</span>
                                        <app-sort-arrows [isDesc]="getCurrentSortType('sexe')"></app-sort-arrows>
                                    </th>
                                    <th>
                                        <span (click)="sortList('curs')" class="sort-field">Curs</span>
                                        <app-sort-arrows [isDesc]="getCurrentSortType('curs')"></app-sort-arrows>
                                    </th>
                                    <th *ngFor="let jornada of jornades; let i = index">
                                        <span (click)="sortList('getSequenciaTirsLliuresJornada', {jornada: i + 1})" class="sort-field">{{i + 1}}</span>
                                        <app-sort-arrows [isDesc]="getCurrentSortType(i + 1)"></app-sort-arrows>
                                    </th>
                                    <th>
                                        <span (click)="sortList('totalTirsLliures')" class="sort-field">Total</span>
                                        <app-sort-arrows [isDesc]="getCurrentSortType('totalTirsLliures')"></app-sort-arrows>
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let participant of participants">
                                        <td>
                                            {{participant.codi}}
                                        </td>
                                        <td>
                                            {{participant.nom}}
                                        </td>
                                        <td>
                                            {{participant.sexe}}
                                        </td>
                                        <td>
                                            {{participant.curs}}
                                        </td>
                                        <td *ngFor="let jornada of jornades; let i = index">
                                            {{ showFormatedFreeThrows(participant, i + 1) }}
                                            <!-- <app-shot-sequence                     
                                                [shotSequence]="participant.getSequenciaTirsLliuresJornada(i + 1)"
                                            ></app-shot-sequence> -->
                                        </td>
                                        <td class="text-info">
                                            {{ participant.totalTirsLliures }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
