h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

p {
    margin-bottom: 0;
}

.actions {
    margin-top: 20px;
}

.btn-dialog {
    background-color: white;
    color: black;
    box-shadow: none;
}

.btn-dialog:hover {
    background-color: #efeeee;
    color: black;
    box-shadow: none;
}

.btn-dialog:focus {
    color: black;
    background-color: #d1d1d1;
    box-shadow: none;
}