<div class="row">
    <div class="card" style="margin: 0 10px">
        <div class="card-header">
            <h4>Seqüència de tirs %</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div *ngFor="let pTir of percentages; let i = index" class="col-md-4 col-33 circle-chart-box">
                    <div class="circle-chart missed" [ngClass]="{'made': (pTir >= 75 && pTir <= 100), 
                        'good': (pTir < 75 && pTir >= 50), 'regular': (pTir < 50 && pTir >= 25), 'big-circle-chart': bigChart}">
                        <div>Tir {{i + 1}}</div>
                        <span class="stats-perc">{{pTir}}%</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>